@page "/Registro/Create"

<div class="container">
    <div class="card shadow-lg">
        <div class="card-header">
            <h5 class="card-title text-center"> <strong> Crear registro </strong></h5>
        </div>

        <div class="card-body">
            <div class="border border-success p-3 mt-3">
            </div>
        </div>

        <div class="card-footer d-flex justify-content-center bg-white gap-2">
            <button class="btn btn-primary bi bi-floppy"> Guardar </button>
            <a href="/Registro/Index" class="btn btn-secondary bi bi-arrow-left"> Regresar </a>
        </div>
    </div>
</div>

@code {

}
